
html{
    font-size: 50%;
}
/* 
Media queries
*/
@media screen and (max-width: 1100px) {
    .header{
        flex-direction: column;
    }
    .menu{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .menu_mobile{
        display:none;
    }
    .icons_social{
        padding: 5px;
    }
    .c_ideias{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}


@media screen and (max-width: 700px) {
    .center{
        margin: auto;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .header{
        flex-direction: row;
        justify-content: space-between;
    }
    .menu{
       display: none;
    }
    .icons_social{
        display: none;
    }
    .menu_mobile{
        display:flex;
    }
    div.menu_mobile_btn{
        position: relative;
    }
    .menu_mobile_btn i{
       display: block;  
       font-size: 3.4rem;
       padding: 10px;
       
        
       
       
    }
    .menu_mobile_btn{
        margin-left: 0px;

    }

    .intro01{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        color: white;
    }
    .intro01 h3{
        font-size: 5rem;
        font-weight: 500;
    }
    .intro01 p{
        max-width: 90%;
        font-size: 1.9rem;
    }


    .content{
        display: flex;
        width: 100%;
        max-width: 100%;
        flex-direction: column;
        align-items: flex-start;
     
    }
    .content h3{
        font-size: 2em;
        color: #004d96;
        max-width:100%;
        margin-bottom: 8px;
        
    }
    .content p{
        max-width: 90%;
        font-size: 2.4rem;
         
     }

    .ideia{
       
        width: 80%;
        color: #004d96;
        background-color: white;
        margin: 10px 10px;
        padding: 15px;
        border-radius: 6px;
        box-shadow: 4px 4px 4px rgb(41, 41, 41);
    }
    .ideia h4{
        font-size: 2rem;
    }
    .ideia p{
        font-size: 2rem;
    }
    .c_ideias{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    } 
}

@media screen and (max-width: 400px){
    .center{
        margin: auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;   
    }

    .intro01{
        margin: 0px 20px;
    }

    footer .footer{
        padding-top: 0;
        padding-bottom: 20px;
        height: 200px;
    }

    .rodape{
        padding-inline: 2rem;
    }

    .icons_social-rodape{
        width: 45%;
        text-align: left;
    }
    .icons_social-rodape p{
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 360px){
    footer .footer{
        padding-top: 0;
        padding-bottom: 20px;
        height: 200px;
    }
    center{
        width: 90%;
       
    }
    .rodape{
        display: flex;
        justify-content: space-between;
    }
    
}

@media screen and (max-width: 330px){
    .titulo{
        font-size: 2rem;
    }
    
}