/* CONTATO RESPONSIVO */

html{
    font-size: 50%;
}
@media screen and (max-width: 830px){

    .form_container{
        width: 100%;
        margin: 10px auto;
        padding: 10px 0;
    }
    .form_group{
        display: flex;
        flex-direction: column;
    }
    .input_control{
        margin: 4px 0px;
    }
    .input_msg{
        margin: 4px 0px;
    }
}

@media screen and (max-width: 630px) {
    .content_ctt{
        max-width: 980px;
        height: 320px;
        width: 90%;
        margin: 10px auto;
        flex-direction: column;
        flex-wrap: initial;
        align-items: center;
        justify-content: center;
    }
    .title {
        font-size: 2rem;
        max-width: 70%;
    }
    .mapa img{
       width: 100%;
       text-align: center;
    }

    .container_info{
        max-width: 980px;
        height: 300px;
        width: 90%;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .endereco{
        order: -1;
        color: #014380;
        font-size: 2rem;
        margin-bottom: 15px;
       
    }
    .link_whatsapp{
        margin-top: 15px;
        margin-bottom: 0px;
    }
     
    .link_email{
        margin-bottom: 40px;
        margin-top: 60px;
    }
    .tel{
         margin-bottom: 30px;
    }
  
}

@media screen and (max-width: 600px){
    .container_info{
        height: 400px;
    }


    #form{
        padding: 20px 0;
    }
    .form{
        padding: 0px;
        margin: 0;
        box-shadow: none;

    }
    
    .form_container{
        width: 100%;
        margin: 10px auto;
        padding: 10px;
        background-color: white;
        box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.15), 
        0px 10px 20px -10px rgba(0, 0, 0, 0.1)
    }
    .form h3{
        font-size: 2.4rem;
        color: #014380;
        margin-bottom: 10px;
    }
    .input_control{
        font-size: 1.8rem;
    }
    .input_msg{
        font-size: 1.8rem;
    }
    .button{
        font-size: 1.8rem;
        padding: 8px;
    }
}

@media screen and (max-width: 400px){
    .form_container{
      margin: 20px;
    }
    .link_email a{
        font-size: 2rem;
    }
    .tel p{
        font-size: 2rem;
   }
   .info_tel{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    }
    .num_tel{
        margin-top: 5px;
    }

}